.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 2rem;
}

.error > p {
  color: var(---color2--);
}

.error > h1 {
  color: var(---color2--);
}

.emoji {
  font-size: 90px;
  font-variant-emoji: text;
}
