.result {
  margin-top: 1rem;
  display: grid;
}

.heading {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.word {
  grid-column: 2;
}

.word > h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---color2--);
}

.word > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---color9--);
}

.pronunciation {
  grid-column: 9;
  margin-left: auto;
}

.word-meanings {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.meaning-1 {
  grid-column: 2/10;
  margin: 2rem 0 2rem 0;
  color: var(---color2--);
}

.part-of-speech-1 {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.meanings > p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
  color: var(---color5--);
}

.definitions-1 > li {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  margin-bottom: 1rem;
}

.synonyms {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.synonyms > h3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---color5--);
}

.synonyms > p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(---color9--);
}

.meaning-2 {
  grid-row: 2;
  grid-column: 2/10;
  margin: 1rem 0 1rem 0;
  height: fit-content;
}

.meanings > p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(---color5--);
}

.part-of-speech-2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.line {
  width: 856px;
  height: 1px;
  background-color: var(---color5--);
}

.part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-bottom: 1rem;
}

.source {
  grid-row: 3;
  grid-column: 2/10;
}

.source {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 25px;
}

.source > h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.source-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: black;
}
