.search {
  position: relative;
  display: grid;
  margin-top: 3.25rem;
}

.search-dictionary {
  font-size: 20px;
  background: var(---color7--);
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  border-radius: 1rem;
  border: 0;
}

input::placeholder {
  font-size: 20px;
  color: var(---color3--);
  opacity: 0.25;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

textarea:focus,
input:focus {
  outline: none;
  border: #a445ed 1px solid;
}

.search-icon {
  position: absolute;
  display: grid;
  place-items: center;
  top: 1.3rem;
  bottom: 0rem;
  right: 0.5rem;
}
