/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---color1--: #ffff;
  ---color2--: #1f1f1f;
  ---color3--: #2d2d2d;
  ---color4--: #3a3a3a;
  ---color5--: #757575;
  ---color6--: #e9e9e9;
  ---color7--: #f4f4f4;
  ---color8--: #ffffff;
  ---color9--: #a445ed;
  ---color10--: #ff5252;
  ---color11--: #fff;
}

/* [data-theme="dark"] {
  ---color1--: #050505;
  ---color2--: #ffff;
  ---color3--: #2d2d2d;
  ---color4--: #3a3a3a;
  ---color5--: #757575;
  ---color6--: #e9e9e9;
  ---color7--: #757575;
  ---color8--: #ffffff;
  ---color9--: #a445ed;
  ---color10--: #ff5252;
  ---color11--: #000;


} */

body {
  background-color: var(---color1--);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
}

.app {
  max-width: 737px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
